body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 206, 142);
}
h1 {
    text-align: center;
    font-size: 60px;
}
.title {
    color: #ea8928;
}
footer {
    background-color: #ff7e00;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#clickerSection {
    text-align: center;
    
}
#clicker {
    width: 256px;
    height: 256px;
    position: relative;
    cursor: pointer;
    z-index: 10000;
    border-radius: 100%;
    border: none;
    overflow: hidden;
    outline: none;
    
    background-image: url(/images/orange.png);
    background-size: cover;
}
#clicker:active{
    width: 266px;
    height: 266px;
}
#clicker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}