body {
    font-family: Arial, sans-serif;
    background-color: rgb(217, 178, 128);
}
h1 {
    text-align: center;
    font-size: 60px;
}
.title {
    color: #f48f29;
}
footer {
    background-color: #e67606;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#clickerSection {
    text-align: center;
    
}
@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#clicker {
    width: 256px;
    height: 256px;
    position: relative;
    cursor: pointer;
    z-index: 10000;
    border-radius: 100%;
    border: none;
    overflow: hidden;
    outline: none;
    animation: rotateImage 50s infinite linear;
    background-image: url(/images/orange.png);
    background-size: cover;
}

#clicker:active{
    width: 259px;
    height: 259px;   
}
#clicker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}