body {
    font-family: Arial, sans-serif;   
    margin-left: 0px;
    background-color: rgb(168, 140, 103);
}
h1 {
    text-align: center;
    font-size: 60px;
}
.title {
    color: #ffad14;
}
footer {
    background-color: #e18932;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#NameCount {
    margin-left: 71px;
    color :rgb(233, 224, 213);  
}
#clickerSection {
    margin-left: 20px;
    position: absolute;
    text-align: left;
    
}
#buySection{
    text-align: right;
    margin-right: 30px;
    margin-left: 75%;
}
@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes onePlusAnimation {
    0% {
        trasform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
    
}

#clicker {
    width: 256px;
    height: 256px;
    position: relative;
    cursor: pointer;
    z-index: 10000;
    border-radius: 100%;
    border: none;
    overflow: hidden;
    outline: none;
    animation: rotateImage 50s infinite linear;
    background-image: url(/images/orange.png);
    background-size: cover;
}

#clicker:active{
    width: 259px;
    height: 259px;   
}
#clicker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.price {
    color:beige
}

.woodenSign {
    background: linear-gradient(90deg, #8B4513 0%, #A0522D 25%, #8B4513 50%, #A0522D 75%, #8B4513 100%);
    border: 10px solid #8B4513;
    color: aliceblue;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
}

.woodenSign {
    position: relative;
    /* Rest of your styles... */
}

.worker-button {
    background-color: rgb(12, 133, 24);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    padding: 30px;
    color:aliceblue;
    border-radius: 40%;

    background-color: #4CAF50; /* Un verde brillante */
    border: none;
    color: white;
    padding: 15px 32px; /* Ajusta según tus necesidades */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Ajusta según tus necesidades */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; /* Ajusta según tus necesidades */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Sombra para dar profundidad */
    transition-duration: 0.4s; /* Duración de la transición al pasar el mouse */
}

.worker-button:hover {
    background-color: rgb(104, 140, 108);
    color: white;
}
.woodenSign::before,
.woodenSign::after {
    content: '';
    position: absolute;
    top: -20px;
    width: 10px;
    height: 20px;
    background: #917676;
}

.woodenSign::before {
    left: -10px;
}

.woodenSign::after {
    right: -10px;
}